<div class="row" id='tiles_container'>
	<div class="col-md-8 col-md-offset-2 info">
		<div class="row">
			<div class="col-md-6">
				<h3>{{}}<span class="label label-default">Artist</span></h3>
			</div>
			<div class="col-md-6">
				<h3>{{}}<span class="label label-primary">Album</span></h3>
			</div>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2 score">
		<div class="row">
			<div class="col-md-6">
				<h4>{{}}<span class="label label-success">Metacritic Score</span></h4>
			</div>
			<div class="col-md-6">
				<h4>{{}}<span class="label label-info">User Score</span></h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-2 critic">
			<div class="panel panel-primary" ng-repeat="review in critic_reviews">
				<div class="panel-heading">
					<h5 class="panel-title">{{review.source}}</h5>
				</div>
				<div class="panel-body">
					<div class="grade">
						Grade: {{review.grade}}
					</div>
					<div class="critic_review">
						Review: {{reivew.review}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 user">
			<div class="panel panel-success" ng-repeat="review in user_reviews">
				<div class="panel-heading">
					<h5 class="panel-title">{{review.source}}</h5>
				</div>
				<div class="panel-body">
					Grade: {{review.grade}}
				</div>
			</div>
		</div>
	</div>
</div>