<div id='tiles_container'>
	<div class="col-md-8 col-md-offset-2 info">
		<h3><span class="label label-primary">Album</span> {{name}}</h3>
	</div>
	<div class="col-md-8 col-md-offset-2 score">
		<div class="row">
			<div class="col-md-6">
				<h4><span class="label label-default">Release Date</span> {{date}}</h4>
			</div>			
			<div class="col-md-6">
				<h4><span class="label label-success">Rating</span> {{rating}}</h4>
			</div>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2 critic">
		<div class="panel panel-primary" ng-repeat="re in reviews">
			<div class="panel-heading">
				<h5 class="panel-title">{{re.source}}</h5>
			</div>
			<div class="panel-body">
				<div class="grade">
					<span class="label label-warning">Grade</span> {{re.grade}}
				</div>
				<div class="critic_review">
					<span class="label label-danger">Review</span> {{re.review}}
				</div>
			</div>
		</div>
	</div>
</div>